.box {
    width: 100px;
    height: 100px;
    background-color: red;
    animation: example 2s infinite alternate;
  }

  @keyframes example {
    from {
      background-color: red;
      transform: translateX(0);
    }
    to {
      background-color: yellow;
      transform: translateX(1000px);
    }
  }
  